.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
  padding: 10px;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.item {
  margin-right: 10px;
  margin-bottom: 10px;
}
