* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style-type: none;
}
body {
  background: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
html,
body {
  height: 100%;
}
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  margin: 0 10px;
  padding: 10px 20px;
  cursor: pointer;
}

.pagination button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}


.statistics{
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}