.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #334155;
  padding: 20px;
  text-align: center;
  list-style: none;
  margin: 0;
}

.footer-ul {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.footer-li {
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.footer-li:hover {
  transform: scale(1.05);
  opacity: 0.8;
}

.footer a {
  text-decoration: none;
  color: white;
}
