.footer-li {
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.footer-li:hover {
  transform: scale(1.05);
  opacity: 0.8;
  font-size: larger;
}

.footer a {
  text-decoration: none;
  color: white;
}
