.card h2 {
  margin: 0 0 8px;
  font-size: 1.5em;
  color: #484848;
}

.card h3 {
  margin: 0 0 8px;
  font-size: 1.2em;
  color: #555;
}

.card p {
  margin: 8px 0;
  color: #484848;
}

.card .additional-info p {
  margin: 4px 0;
  color: #484848;
}
